* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    width: 100vw;
    height: 100vh;
}

:root{
    --darkblue-1: rgb(29, 24, 94);
    --darkblue-2: rgb(72, 66, 163);
    --white-1: rgb(255, 255, 255);
    --limon: rgb(88, 202, 168);
    --violet: rgb(94, 115, 235);
    --violet-soft: rgba(94, 115, 235, .7);
}

.background{
    background: linear-gradient(180deg, var(--darkblue-1), var(--darkblue-2));
}

.bg-blue{
    background-color: var(--darkblue-1);
}

.bg-white{
    background-color: var(--white-1);
}

.h-5{
    height: 5%;
}

.h-10{
    height: 10%;
}

.h-20{
    height: 20%;
}

.list{
    list-style: none;
}


.my-nav-content a, 
.my-nav-content ul{
    height: 43px;
}

.my-nav-content ul li button#offer{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: .8em;
    color: var(--white-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: auto;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-nav-content ul li button#create-account,
button#create-account-2{
    background-color: var(--limon);
    border-radius: 20px;
}

button#create-account-2{
    background-color: var(--violet);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

button#create-account-2:disabled{
    background-color: var(--violet-soft);
}

.border-none{
    border: none;
}

.outline-none{
    outline: none;
}

 .dropdown .dropdown-menu li:hover,
 .dropdown .dropdown-menu li a:hover{
    background-color: rgba(255, 255, 255, .7);
    color: #000 !important;
}


.w-45{
    width: 45%;
}

.w-43{
    width: 43%;
}

.w-40{
    width: 40%;
}

.w-30{
    width: 30%;
}

.h-60{
    height: 60%;
}

.rounded-10{
    border-radius: 10px;
}

.alreadyHaveAnAccount{
    font-weight: bold;
    opacity: .5;
    font-size: 1.2em;
}

a{
    text-decoration: none;
}

form label{
    font-size: .8em;
}

.user-icon{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--violet);
}